/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

a.hollow.button.secondary {
  text-align: center;
  font-size: 14px;
  border-radius: 18px;
  padding: 0.72em 1em;
  color: #838383;
  border: 1px solid #838383;
  margin-right: 20px;
  margin-left: 20px;
}

a.hollow.button.success {
  text-align: center;
  font-size: 14px;
  border-radius: 18px;
  padding: 0.72em 0.84em;
  color: #21c55e;
  border: 1px solid #21c55e;
  margin-right: 20px;
  margin-left: 20px;
}

a.hollow.button.alert {
  text-align: center;
  font-size: 14px;
  border-radius: 18px;
  padding: 0.72em 0.84em;
  border: 1px solid;
  margin-right: 20px;
  margin-left: 20px;
}

.button.warning {
  color: white;
  font-weight: bold;
  background-color: #f0ad4e;
}

.button.warning:hover {
  background-color: #e3a34a;
  color: white;
  font-weight: bold;
}

.home_background {
  background-image: url("home_background.jpg");
  background-repeat: no-repeat;
  height: calc(100vh - 0px);
  background-size: cover !important;
  background-position: center top;
  opacity: 1;
  align-items: center;
  visibility: inherit;
  display: flex;
  width: 100%;
  overflow-y: scroll;
  overflow-y: hidden;
  justify-content: center;
  background-attachment: fixed;
}

.white_background {
  background-color: #fff;
  background-repeat: no-repeat;
  min-height: calc(100vh - 0px);
  background-size: cover !important;
  background-position: center top;
  opacity: 1;
  align-items: center;
  visibility: inherit;
  /*display: flex;*/
  width: 100%;
  overflow-y: scroll;
  overflow-y: hidden;
  justify-content: center;
  background-attachment: fixed;
  padding-top: 50px;
}

.small_background {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center top;
  opacity: 1;
  align-items: center;
  visibility: inherit;
  /*display: flex;*/
  width: 100%;
  overflow-y: scroll;
  overflow-y: hidden;
  justify-content: center;
  background-attachment: fixed;
}

.home_background-content {
  min-width: 400px;
  color: white;
  margin-bottom: 50px;
  padding-bottom: 10px;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 90px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.home_background p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0px 1px rgba(0, 0, 0.5, 0.5);
  margin-top: 0;
  margin-bottom: 40px;
}

body {
  margin: 0px;
}

p#notice {
  margin: 0;
}

.button.expanded {
  display: block;
  width: 40%;
  margin-right: 0;
  margin-left: 0;
}

.button.expanded.log-in {
  display: block;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  font-family: verdana, arial, helvetica, sans-serif;
}

.button.expanded.full-update {
  width: 100%;
}

/*
@media (max-width: 29em) {
.home_background {
        background-color: #5bc0de;
        background-image: none;
    }
}
*/

a.forgot_password {
  color: #fff;
}

a.forgot_password:visited {
  color: #fff;
}

a.forgot_password:hover {
  background-color: transparent;
  color: #f0ad4e;
}

#error_explanation h2 {
  background-color: #f0ad4e;
  padding: 5px 5px 5px 5px;
  text-align: center;
  font-family: arial;
}

#error_explanation ul li {
  list-style: none;
}

#error_explanation {
  width: 100%;
  border: none;
  padding-bottom: 1px;
}

ul {
  margin: 10px;
  color: #f0ad4e;
}

.field_with_errors {
  background-color: rgba(240, 173, 78, 0.5);
  width: 100%;
}

p.settings_p {
  margin-bottom: 20px;
  margin-top: 40px;
}

::selection {
  background-color: rgba(240, 173, 78, 0.5);
}

.featured-image-block-grid-header {
  margin-left: auto;
  margin-right: auto;
}

.featured-image-block {
  margin-bottom: 20px;
}

.featured-image-block .featured-image-block-title {
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  color: #404040;
}

.featured-image-block a:hover p {
  color: #1779ba;
}

#recipe_price {
  margin-bottom: 0px;
}

#recipe_image {
  margin-top: 10px;
}

p.info {
  color: #fff;
  padding: 30px;
}

.js-off-canvas-overlay.is-visible {
  opacity: 0.1;
}

.aboutus {
  color: #fff;
  position: relative;
  bottom: 0px;
}

a.aboutus:hover {
  background-color: transparent;
  color: #f0ad4e;
}

a.aboutus:visited {
  background-color: transparent;
  color: #fff;
}

.position-bottom {
  height: 200px;
}

.off-canvas {
  background: #f0f0f0;
}

.no-padding {
  padding-top: 0px;
}

@media (min-width: 531px) {
.mobile {
        display: none;
    }
}

@media (max-width: 530px) {
  .not-mobile {
      display: none;
  }
  .menu > li > a {
      display: block;
      padding: initial;
      line-height: 1;
      text-align: center;
  }
  .menu {
    margin-top: 11px;
    margin-right: 11px;
  }
}

@media all {
  .top-bar .top-bar-left, .top-bar .top-bar-right {
      width: auto;
    }

}

.menu-icon.mobile {
  margin: 20px;
}

@media all {
    .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
        display: none;
    }
}

@media all {
  .top-bar, .top-bar ul {
    background-color: #f0f0f0;
  }
}

@media screen and (max-width: 520px) {
  iframe {
    width: 380px;
  }
}
@media screen and (max-width: 420px) {
  iframe {
    width: 260px;
    height: 170px;
  }
}