<% @reviews.each do |review| %>

  <div class="review-grade"> <% review.grade.times { concat "&#9733;".html_safe} %> </div>
  <div class="review-comment"> <%= review.comment %> </div>

<% end %>

<br>

<%= render 'reviews/form' %>
