<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li><a class="menu-text" href="/" ><%= image_tag 'logo.png', width: '100' %></a></li>
        <li class="has-form">
        <div class="row collapse">
          <div class="large-8 small-9 columns">
            <input type="text" placeholder="Find Stuff">
          </div>
          <div class="large-4 small-3 columns">
            <a href="#" class="alert button expand">Search</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <% if user_signed_in? %>
       <li> <%= link_to 'New Recipe', new_recipe_path, class: 'foundation-plus' %> </li>
       <li><%= link_to 'Settings', edit_user_registration_path %></li>
       <li> <%= link_to 'Sign Out', destroy_user_session_path, :method => :get %></li>
      <% end %>
    </ul>
  </div>
</div>


